import(freqparcoord)
import(data.table)

importFrom("grDevices", "X11", "as.raster", "colorRampPalette", "png",
           "quartz")
importFrom("graphics", "axis", "lines", "par", "plot",
             "rasterImage", "text", "title")
importFrom(data.table,as.data.table)
importFrom(data.table,is.data.table)
importFrom(data.table,".N")
importFrom(magrittr,"%>%")
importFrom("stats", "complete.cases")
importFrom("utils", "data")
importFrom("plotly", "plot_ly")
importFrom("parallel", makeCluster)
importFrom("parallel", stopCluster)
importFrom("parallel", detectCores)
importFrom("parallel", clusterExport)
importFrom("parallel", clusterEvalQ)
importFrom("partools", distribsplit)
importFrom("stats", "quantile")
export(tupleFreqs,discretize,discparcoord,
clsTupleFreqs,makeFactor,reOrder,showCounts)
